[Desktop Entry]
Name=Deck Declutter
Exec=konsole -e bash '/home/deck/Documents/GitHub/steam-deck-utility-scripts/scripts/deck_declutter.sh'
Icon=utilities-terminal
Type=Application
