[Desktop Entry]
Name=Find Decky Leftovers
Exec=konsole -e bash '/home/deck/Documents/GitHub/steam-deck-utility-scripts/scripts/find_decky_leftovers.sh'
Icon=utilities-terminal
Type=Application
