[Desktop Entry]
Name=Find Lost ROMs
Exec=konsole -e bash '/home/deck/Documents/GitHub/steam-deck-utility-scripts/scripts/find_lost_roms.sh'
Icon=utilities-terminal
Type=Application
